{% extends 'base.html' %}
{% block title %} Lista de Barrios {% endblock %}

{% block title_content  %}

Lista de Barrio segun su ciudad : {{ciudad}}

{%  endblock %}

    {% block content  %}

        {% if display %}


        <div>
            <div >
                <ul> 
                    {% for b in barrio %}
                        <li>
                            
                                {{ b }}
                            
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <div>
        No existen registros para mostrar
        </div>
        {% endif %}

    {%  endblock %}
    
