{% extends 'base.html' %}
{% block title %} Lista de Ciudades {% endblock %}

{% block title_content  %}

Lista de ciudades segun el departamento : {{departamento}}

{%  endblock %}

    {% block content  %}
        
            {% if display %}

            <div>
                <div >
                    <ul> 
                        {% for c in ciudad %}
                            <li>
                                <a href="{% url 'app:barrios' departamento c %}">{{ c }}</a>
                                    
                                   
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% else %}
            <div>
                No existen registros para mostrar
            </div>
            {% endif %}
    {%  endblock %}